<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="BazaPodataka" value="XML"/>
		<!-- <add key="BazaPodataka" value="INMEMORY"/> -->
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint name="Servis" address="net.tcp://localhost:8000/ILoad" binding="netTcpBinding" contract="Common.ILoad"/>
		</client>
	</system.serviceModel>
</configuration>